<section class="sign-in-page">

    <div class="sign-in-card">

        <h1>Welcome Back</h1>

        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

            <app-vv-input label="Email" placeholder="Enter your email" type="email" formControlName="email">
            </app-vv-input>

            <app-vv-input label="Password" placeholder="Enter your password" type="password" formControlName="password">
            </app-vv-input>

            <div class="button-container">

                <app-vv-button label="Sign In">
                </app-vv-button>

            </div>

        </form>

        <div class="sign-up-link">

            <span>
                New to Vignette Visions?
            </span>

            <a routerLink="/sign-up">
                Create an account →
            </a>

        </div>

    </div>

</section>