.gallery-header {
  margin-bottom: 48px;
}

.gallery-layout {
  columns: 4;
  column-gap: 24px;
}

.gallery-layout app-photo-card {
  display: block;
  margin-bottom: 24px;
  break-inside: avoid;
}

@media (max-width: 1200px) {
  .gallery-layout {
    columns: 3;
  }
}

@media (max-width: 768px) {
  .gallery-layout {
    columns: 2;
  }
}

@media (max-width: 576px) {
  .gallery-layout {
    columns: 1;
  }
}